@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.picker {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 2.2rem;
}

/* .nav {
    background-color: whitesmoke;
    padding: 0.3rem 0;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    font-size: 1.7rem;
    font-weight: bold;
} */

tr {
    text-align: center;
}

#table {
    width: 20%;
    font-size: 1.5rem;
    font-weight: bold;
    border: black 4px solid;
    background-color: white;
}